<section data-ng-controller="<%= view.modelpluralname %>Controller" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2><%= view.viewname %></h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/<%= view.modelparampluralname %>"><%= view.modelname %></a>
          </li>
          <li class="active">
            <strong><%= view.viewname %></strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == <%= view.modelname.toLowerCase() %>.user._id))">
    <div class="ibox-content">    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            <% for(var i=0; i<view.controls.length; i++) {
              var control = view.controls[i];%>
              <%if(control.controltype == "Date"){ %>
                 <dt><%= control.controllabel %> </dt><dd>{{ <%= view.modelname.toLowerCase() %>.<%= control.modelelement %> | date }}</dd>
              <% } else{ %>  
                 <dt><%= control.controllabel %> </dt><dd>{{ <%= view.modelname.toLowerCase() %>.<%= control.modelelement %> }}</dd>
              <% } %>
            <% }; %>
          </dl>
        </div>
      </div>
      <div>
        <a class="btn btn-primary" href="/#!/<%= view.modelparampluralname %>/{{<%= view.modelname.toLowerCase() %>._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>       
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
