<section data-ng-controller="<%= view.model.pascalCasePlural %>Controller" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View <%= view.model.titleCaseSingular %></h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/<%= view.model.paramCasePlural %>"><%= view.model.pascalCasePlural %></a>
          </li>
          <li class="active">
            <strong><%= view.model.titleCasePlural %></strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <!-- <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == <%= view.model.camelCaseSingular %>.user._id))"> -->
  <div class="ibox float-e-margins" >
    <div class="ibox-content">    
      <div class="row">
      <dl class="dl-horizontal">
      <% view.sections[0].controls.forEach(function(control) { %>
      <% if ( ["Text", "Number", "Date", "Checkbox"].indexOf(control.controltype)>-1 ){ %>
        <dt><%= control.controllabel %> </dt><dd>{{ <%= view.model.camelCaseSingular %>.<%= control.modelelement %><%if(control.controltype == "Date"){ %> | date <% } %>}}</dd>
      <% } %>
      <% if ( control.controltype === "Select" ){ %>
        <dt><%= control.controllabel %> </dt><dd>{{ <%= view.model.camelCaseSingular %>.<%= control.modelelement %>.<%= control.displayelement %>}}</dd>
      <% } %>
      <% }) %>
      </dl>
      
      <% view.sections[0].controls.forEach(function(control) { %>
      <% if (control.controltype === "Nested"){ %>
      <% if (control.isarray){ %>
        <div class="col-md-<%= control.width %> form-group">
          <label class="control-label" for="<%= control.controlname %>"><%= control.controllabel %></label>                
          <table class="table">
            <thead>
            <tr>
            <% control.nestedcontrols.forEach(function(nestedcontrol) { %>
             <% if ( ["Text", "Number", "Select", "Date", "Checkbox"].indexOf(nestedcontrol.controltype)>-1 ){ %>
            <th><%= nestedcontrol.controllabel %></th>
            <% } %>
            <% }); %>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="<%= control.modelelementSl %> in <%= view.model.camelCaseSingular %>.<%= control.modelelement %>">
            <% control.nestedcontrols.forEach(function(nestedcontrol) { %>
            <% if ( ["Text", "Number", "Date", "Checkbox"].indexOf(nestedcontrol.controltype)>-1 ){ %>
            <td>{{ <%= control.modelelementSl %>.<%= nestedcontrol.modelelement %> <% if(nestedcontrol.controltype == "Date"){ %> | date <% } %>}}</td>
            <% } %>
            <% if ( nestedcontrol.controltype === "Select" ){ %>
            <td>{{ <%= control.modelelementSl %>.<%= nestedcontrol.modelelement %>.<%= nestedcontrol.displayelement %> }}</td>
            <% } %>             
            <% }); %>
            </tr>
            </tbody>
            <tfoot>
            <% control.nestedcontrols.forEach(function(nestedcontrol) { %>
            <% if ( nestedcontrol.controltype === "Footer" ){ %>
            <td>{{ <%= nestedcontrol.modelelement %> }}</td>
            <% } %>
            <% }); %>            
            </tfoot>
          </table>
        </div>
      <% } else { %>
        <div class="col-md-<%= control.width %> form-group">
          <label class="control-label"><%= control.controllabel %></label>
        </div>          
        <dl class="dl-horizontal">
      <% control.nestedcontrols.forEach(function(nestedcontrol) { %>
      <% if ( nestedcontrol.controltype === "Select" ){ %>
        <dt><%= nestedcontrol.controllabel %> </dt><dd>{{ <%= view.model.camelCaseSingular %>.<%= control.modelelement %>.<%= nestedcontrol.modelelement %>.<%= nestedcontrol.displayelement %>}}</dd>
      <% } else {%>      
        <dt><%= nestedcontrol.controllabel %> </dt><dd>{{ <%= view.model.camelCaseSingular %>.<%= control.modelelement %>.<%= nestedcontrol.modelelement %><%if(nestedcontrol.controltype == "Date"){ %> | date <% } %>}}</dd>
      <% }%>      
      <% }); %>
      </dl>
      <% } %>
      <% } %>
      <% }); %>
      </div>
      <div class="row">
        <div>
          <a class="btn btn-primary" href="/#!/<%= view.model.paramCasePlural %>/{{<%= view.model.camelCaseSingular %>._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>              
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
  <% view.sections[0].controls.forEach(function(control) { %>
    <% if ( ["File"].indexOf(control.controltype)>-1 ){ %>
      <div class="col-md-3" >
        <div class="ibox float-e-margins" >
          <div class="ibox-content">    
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="file in <%= view.model.camelCaseSingular %>.<%= control.modelelement %>">
                  {{file.filename}}
                  <a data-ng-controller="FilemonkeysController" ng-click="removefile(file._id, $index, <%= view.model.camelCaseSingular %>)" class="glyphicon glyphicon-trash"></a>
                </li>        
              </ul>           
            </div>
          </div><!-- /.ibox-content -->
        </div><!-- /.ibox -->
      </div>      
    <% } %>  
  <% }); %>  
<section>