<section data-ng-controller="<%= view.model.pascalCasePlural %>Controller" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2><%= view.viewname %></h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/<%= view.model.paramCasePlural %>"><%= view.model.pascalCasePlural %></a>
          </li>
          <li class="active">
            <strong><%= view.viewname %></strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <!-- <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == <%= view.model.camelCaseSingular %>.user._id))"> -->
  <div class="ibox float-e-margins" >
    <div class="ibox-content">    
      <div class="row">
      <dl class="dl-horizontal">
      <% view.sections[0].controls.forEach(function(control) { %>
      <% if ( ["Text", "Number", "Select", "Date", "Boolean"].indexOf(control.controltype)>-1 ){ %>
        <dt><%= control.controllabel %> </dt><dd>{{ <%= view.model.camelCaseSingular %>.<%= control.modelelement %><%if(control.controltype == "Date"){ %> | date <% } %>}}</dd>
      <% } %>
      <% }) %>
      </dl>
      
      <% view.sections[0].controls.forEach(function(control) { %>
      <% if (control.controltype === "Nested"){ %>
      <% if (control.isarray){ %>
        <div class="col-md-<%= control.width %> form-group">
          <label class="control-label" for="<%= control.controlname %>"><%= control.controllabel %></label>                
          <table class="table">
            <thead>
            <tr>
            <% control.nestedcontrols.forEach(function(nestedcontrol) { %>
             <% if ( ["Text", "Number", "Select", "Date", "Boolean"].indexOf(nestedcontrol.controltype)>-1 ){ %>
            <th><%= nestedcontrol.controllabel %></th>
            <% } %>
            <% }); %>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="<%= control.modelelementSl %> in <%= view.model.camelCaseSingular %>.<%= control.modelelement %>">
            <% control.nestedcontrols.forEach(function(nestedcontrol) { %>
            <% if ( ["Text", "Number", "Select", "Date", "Boolean"].indexOf(nestedcontrol.controltype)>-1 ){ %>
            <td>{{ <%= control.modelelementSl %>.<%= nestedcontrol.controlname %> <% if(nestedcontrol.controltype == "Date"){ %> | date <% } %> }}</td>
            <% } %>
            <% }); %>
            </tr>
            </tbody>
            <tfoot>
            <% control.nestedcontrols.forEach(function(nestedcontrol) { %>
            <% if ( nestedcontrol.controltype === "Footer" ){ %>
            <td>{{ <%= view.model.camelCaseSingular %>.<%= nestedcontrol.modelelement %> }}</td>
            <% } %>
            <% }); %>            
            </tfoot>
          </table>
        </div>
      <% } else { %>
        <div class="col-md-<%= control.width %> form-group">
          <span><%= control.controllabel %></span>
        </div>          
        <dl class="dl-horizontal">
      <% control.nestedcontrols.forEach(function(nestedcontrol) { %>
        <dt><%= nestedcontrol.controllabel %> </dt><dd>{{ <%= view.model.camelCaseSingular %>.<%= control.modelelement %>.<%= nestedcontrol.modelelement %><%if(nestedcontrol.controltype == "Date"){ %> | date <% } %>}}</dd>
      <% }); %>
      </dl>
      <% } %>
      <% } %>
      <% }); %>
      </div>
      <div class="row">
        <div>
          <a class="btn btn-primary" href="/#!/<%= view.model.paramCasePlural %>/{{<%= view.model.camelCaseSingular %>._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>              
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>